nav {
    margin: 10px;
    padding: 0;
    float: right;
}

nav ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: none;
}

nav ul.opening {
    display: block;
    height: 5px;
}

nav li {
    border-bottom: none;
}

nav li:last-child {
    border-bottom: none;
}

nav a {
    color: #EBEBD3;
    background: black;
    display: block;
    padding: 1.5em 2em;
    text-transform: uppercase;
    text-decoration: none;
}

nav a:hover,
nav a:focus {
    background: rgb(255, 0, 0);
}

.site-nav--icon {
    font-size: 1.4em;
    margin-right: 1em;
    width: 1.1em;
    text-align: right;
    color: rgba(255, 255, 255, .4);
}

/*Menu Toggle*/

.menu-toggle {
    position: absolute;
    padding: 0.8em;
    top: 1 em;
    right: .5em;
    cursor: pointer;
}

.hamburger,
.hamburger::before,
.hamburger::after {
    content: '';
    display: block;
    background: #EBEBD3;
    height: 3px;
    width: 2em;
    border-radius: 3px;
    -webkit-transition: all ease-in-out 350ms;
    transition: all ease-in-out 350ms;
}

.hamburger::before {
    -webkit-transform: translateY(-7px);
    transform: translateY(-7px);
}

.hamburger::after {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
}

.open .hamburger {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.open .hamburger::before {
    display: none;
}

.open .hamburger::after {
    -webkit-transform: translateY(-1px) rotate(-90deg);
    transform: translateY(-1px) rotate(-90deg);
}

*MEDIA QUERY*/

    @media only screen and (max-width: 680px) {

        header {
            margin-top: 0;
            float: none;
        }

        aside{
            display: none;
        }
        
        main,
        section,
        article,
        footer {
            width: 100%;
            margin: 2px;
        }


        #menu-icon {
            display: inline-block;
        }

        nav ul,
        nav:active ul {
            display: none;
            position: absolute;
            padding: 5px;
            background: #fff;
            right: 10px;
            top: 40px;
            width: 60%;
            border-radius: 4px 0 4px 4px;
        }

        nav li {
            text-align: center;
            width: 100%;
            padding: 10px 0;
            margin: 0;
        }

        nav:hover ul {
            display: block;
        }

        .social {
            width: auto;
        }
    }


    @media (min-width: 680px) {

        .menu-toggle {
            display: none;
        }

        nav ul {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
        }

        nav li {
            flex: 1 1 auto;
        }

        nav li a {
            padding: 5px 3px 5px 3px;
            margin: 15px 10px;
            border: white solid 2px;
            background-color: none;
        }

        nav a:hover,
        nav a:focus {
            background-color: rgb(255, 255, 255, .3);
        }

        .logo {
            flex: 0 0 200px;
            margin: 0;
            padding-left: 20px;
        }

        nav {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            text-align: center;
            background-color: none;
        }
    }