html,
body,
h1,
h2,
h3,
h4 {
    /*font-family: "Lato", sans-serif; */
    /* font-family: 'Averia Serif Libre', cursive;*/
    font-family: 'Cutive Mono', monospace;
    /*font-family: 'NTR', sans-serif;*/
    /*font-family: 'Faster One', cursive;*/
}

img {
    max-width: 100%;
}
.image {
     float: left; 
    max-width: 30%;
    margin-top:15px;
    margin-right: 15px
}

body {
    background: -moz-linear-gradient(left, rgba(10, 2, 2, 0.83) 17%, rgba(248, 0, 0, 0.78) 51%, rgba(255, 0, 0, 0.78) 52%, rgba(11, 0, 0, 0.85) 89%, rgba(4, 0, 0, 0.85) 90%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(10, 2, 2, 0.83) 17%, rgba(248, 0, 0, 0.78) 51%, rgba(255, 0, 0, 0.78) 52%, rgba(11, 0, 0, 0.85) 89%, rgba(4, 0, 0, 0.85) 90%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(10, 2, 2, 0.83) 17%, rgba(248, 0, 0, 0.78) 51%, rgba(255, 0, 0, 0.78) 52%, rgba(11, 0, 0, 0.85) 89%, rgba(4, 0, 0, 0.85) 90%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d40a0202', endColorstr='#d9040000', GradientType=1);
    /* IE6-9 */
    max-width: 100%;
    margin: 0;
}

header {
    background: rgba(255, 0, 0, .9);
    width: 100%;
    margin: auto;
    height: 90px;
    top: 0;
    right: 0;
    border-bottom: 5px solid white;
    position: fixed;
}

.headless {
    height: 90px;
    margin: 0;
    top: 0;
    width: 100%;
}

aside {
    display: none;
}

main {
    max-width: 100%;
    background-color: white;
    margin:5px;
    bottom: 0;
}

section {
    background: black;
    color: white;
    margin: 5px;
    max-width: 100%;
}

#listed {
    width: auto;
    line-height: 1.5;
}

#listed ul {
    background-color: white;
    color: black;
    font-size: 12pt;
    list-style: square;
    width: 90%;
    font-weight: bold;
}


.sidebar-img {
    width: 90%;
    margin: 5%;
}


footer {
    background-color: red;
    width: 100%;
    color: white;
    clear: both;
    text-align: center;
    bottom: 0;
}


article {
    background-color: rgba(0, 0, 0, .9);
    color: white;
    max-width: 100%;
    margin: 0 5px 0 5px;
    padding: 5px;
}

article img {
    padding: 5px;
}

article p {
    max-width: 100%;
    top: 0;
    margin: 5px;
}

.pictured {
    max-width: 40%;
    float: right;
    margin-left: 10px;
}

.stories {
    background: white;
    width: auto;
    margin: 5px;
}

h1 {
    background: black;
    color: white;
    display: block;
    font-size: 20pt;
}

h2 {
    background: white;
    color: black;
    padding: 5px;
    margin: 5px;
    max-width: 100%;
    display: block;
}

aside h2 {
    background-color: black;
    color: white;
    display: block;
    width: auto;
    margin: 5px;
    padding: 5px;
    text-align: center;
}

h3 {
    background-color: rgba(255, 0, 0, .9);
    color: white;
    text-align: center;
    font-size: 14pt;
  
}

h4 {
    background-color: red;
    color: white;
    height: 15px;
}

p {
    background-color: white;
    color: black;
    font-size: 14pt;
    width: auto;
    padding: 10px;
    margin: 0;
    text-align: justify;
}

#honeypot {
    display: none;
}

#signup {
    max-width: 100%;
}


fieldset {
    line-height: 2.5;
    width: 50%;
    margin-right: 20%;
    float: right;
    
}

div .contact{
    max-width: 90%;
}
.contact label{
    display: inline-block;
    background-color: white;
    color: black;
    font-size: 12pt;
    float: left;
    margin: 5px;
}
 .contact input{
     margin-left: 10px;
     line-height: 2;
     float: right;
}


legend {
    background-color: red;
    font-weight: bold;
    border: 1px solid black;
}

label{
    display: inline-block;
    max-width: 10em;
    clear: left;
    vertical-align: top;
    text-align: right;
    margin-right: 5%;
}
input, select {
    margin-top: 10px;
    
}


input[type="submit"] {
    font-weight: bold;
    background-color: white;
    color: black;
    width: 50%;
    height: 50px;
    margin-left: 25%;
    margin-top: 10px;
    margin-bottom: 10px
}
.contact input[type="submit"]{
    width: 20%;
    float: right;
}

#eventtable table{
    margin-left: 25%;
    padding: 0;
    max-width: 100%;
    background: rgba(215, 215, 215, .6);
}
 th, table {
    border: black solid 2px;

}
td{
    border-bottom: black solid 1px;
    border-right: black solid 1px;
    font-size: 12pt;
    font-weight: bold;
    text-align: center;
    padding: 5px;
}
.register {
    text-align: left;
    width: 100%;
    border: none;
    font-weight: bold;
    
}

.forecast {
    width: 80%;
    position: fixed;
    clear: both;
    bottom: 0;
}

#social {
    display: inline-block;
    float:left;
}
#social li {
    display: block;
}
.twitter-timeline {
    max-width: 80%;
    
}
/*MEDIA QUERY*/

@media only screen and (max-width: 600px) {


    #menu-icon {
        display: inline-block;
    }

    nav ul,
    nav:active ul {
        display: none;
        position: absolute;
        padding: 5px;
        background: #fff;
        right: 10px;
        top: 40px;
        width: 60%;
        border-radius: 4px 0 4px 4px;
    }

    nav li {
        text-align: center;
        width: 100%;
        padding: 10px 0;
        margin: 0;
    }

    nav:hover ul {
        display: block;
    }

}

/*TABLET media query*/

/* Desktop media Query */

@media (min-width: 600px) {

    .menu-toggle {
        display: none;
    }

    nav ul {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }

    nav li {
        flex: 1 1 auto;
    }

    nav li a {
        padding: 5px 3px 5px 3px;
        margin: 15px 10px;
        border: white solid 2px;
        background-color: none;
    }

    nav a:hover,
    nav a:focus {
        background-color: rgba(255, 255, 255, .3);
    }

    .logo {
        flex: 0 0 200px;
        margin: 0;
        padding-left: 20px;
    }

    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        text-align: center;
        background-color: none;
    }

    header {
        background-color: rgba(0, 0, 0, .9);
    
    }

    aside {
        background-color: white;
        width: 20%;
        top: 0;
        bottom: -1px;
        margin: 0 1px 0 -5px;
        padding: 5px;
        position: fixed;
        z-index: 10;
        display: inline-block;
        float: left;
        overflow-x:hidden;
    }

    main {
         background: -moz-linear-gradient(left, rgba(10, 2, 2, 0.83) 17%, rgba(248, 0, 0, 0.78) 51%, rgba(255, 0, 0, 0.78) 52%, rgba(11, 0, 0, 0.85) 89%, rgba(4, 0, 0, 0.85) 90%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(10, 2, 2, 0.83) 17%, rgba(248, 0, 0, 0.78) 51%, rgba(255, 0, 0, 0.78) 52%, rgba(11, 0, 0, 0.85) 89%, rgba(4, 0, 0, 0.85) 90%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(10, 2, 2, 0.83) 17%, rgba(248, 0, 0, 0.78) 51%, rgba(255, 0, 0, 0.78) 52%, rgba(11, 0, 0, 0.85) 89%, rgba(4, 0, 0, 0.85) 90%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d40a0202', endColorstr='#d9040000', GradientType=1);
        width: auto;
        margin-left: 20%;
        margin-top: 0;
        
    }
    section{
        background-color: rgba(255, 255, 255, .2);
        color: black;
        
    }
    article{
        max-width: 100%;
        margin-right: 0;
        padding-right: 0;
        margin-left: 20px
    }
    h3 {
    background-color: rgba(255, 0, 0);
    color: white;
    text-align: center;
    font-size: 16pt;
    float: left;
    clear: left;
    margin-right: 20px;
    width: 20%;
}
    footer {
        position: relative;
        z-index: 10;
    }

  #listed {
      float: left;
    width: 45%;
    line-height: 1.5;
      clear: left
}

#listed ul {
    background-color: white;
    color: black;
    font-size: 10pt;
    list-style: square;
    max-width: 100%;
    font-weight: bolder;
}
        .register {
        width: 50%;
        padding: 0;
        float: right;
    }

    #eventdeets{
        background-color: white;
        color: black;
        max-width: 100%;
        padding-left: 215px;
        margin-left: 5px;
        text-align: left;
    }
    #eventtable {
        background-color: transparent;
        padding: 15px;
        margin-left: 25p
    }
    #eventtable table{
    padding: 0;
    max-width: 100%;
    background: rgba(215, 215, 215, .99);
}

    .lefty {
        float: left;
        margin-left: 10em;
    }

    .righty {
        float: ;
        position: absolute;
        margin-left: 15em;
        margin-top: 2em;
    }
    